{% load getattr %}

<form class="form-horizontal" method="post">
	{% csrf_token %} 
	
	
	<div class="form-group">
	  <label class="radio-inline col-sm-11 col-sm-offset-1">
	   <input type="radio" name="choix-{{type}}-mono-multi" value="multi" {% if multi %}checked="checked"{% endif %}> Appliquer un choix à toutes les zones d'emploi
	  </label>		 	  
	 </div>
	
	<div class="form-inline multi-{{type}}-ze">
		<label class="col-sm-4 control-label">Toutes zones d'emploi</label>
		<div class="input-group col-sm-3">
	  		<input type="number" min="0" max="100" step="0.01" class="form-control" name="number-{{type}}-multi" value="{% if parametres.0|getattr:param == 9999 %}0.01" disabled=true{% else %}{{parametres.0|getattr:param|stringformat:"f"}}"{% endif %}><div class="input-group-addon">%</div>
	  	</div>
	  	<div class="col-sm-4">
	  	<label class="checkbox-inline">
  			<input type="checkbox" name="check-{{type}}-multi" {% if parametres.0|getattr:param == 9999 %}checked="checked"{% endif %}> Appliquer les taux actuels
  		</label>
  		</div>	  		 	  
	</div>  
	 	 
	 <div class="form-group">
	  <label class="radio-inline col-sm-11 col-sm-offset-1">
	   <input type="radio" name="choix-{{type}}-mono-multi" value="mono" {% if not multi %}checked="checked"{% endif %}> Appliquer un choix par zone d'emploi
	  </label>		 	  
	 </div>
	 
	 {% for parametre in parametres %}
	 
	 <div class="form-inline mono-{{type}}-ze">
		 <div class ="row">
			<label class="col-sm-4 control-label">{{parametre.nom_ze}} ({{parametre.code_ze}})</label>
			<div class="col-sm-3 input-group">
				<input type="hidden" name="hidden-{{type}}-mono{{parametre.code_ze}}" value="{{parametre|getattr:type|stringformat:"f"}}">
		  		<input type="number" min="0" max="100" value="{% if parametre|getattr:param == 9999 %}{{parametre|getattr:type|stringformat:"f"}}" disabled=true{% else %}{{parametre|getattr:param|stringformat:"f"}}"{% endif %} step="0.01" class="form-control" name="number-{{type}}-mono{{parametre.code_ze}}"><div class="input-group-addon">%</div>
		  	</div>	  	
		  	<div class="col-sm-4">
		  	<label class="checkbox-inline">
	  			<input type="checkbox" name="check-{{type}}-mono{{parametre.code_ze}}" {% if parametre|getattr:param == 9999 %}checked="checked"{% endif %}> Appliquer le taux actuel
	  		</label>
	  		</div>
	  	</div>
	  	<div class="row" style="margin-top:10px; margin-bottom:20px;">
	  	 	<div class="col-sm-7 col-sm-offset-4 alert alert-info text-info">Parc privé : {% getattr_list parametre param_info 1%} % (soit {% getattr_list parametre param_info 3%} logements) - Parc HLM-SEM : {% getattr_list parametre param_info 0%} % (soit {% getattr_list parametre param_info 2 %} logements) <br><small><i>source : {{source}}</i></small></div>
	  	</div>
	</div> 
	  
	  {% endfor %}
	  
<!-- attente barre validation -->