<!-- barre de validation -->
<div class="row">
	<div class="col-sm-12 text-right">
	<button type="submit" class="btn btn-primary" name="save" alt="Enregistrer les modifications" title="Enregistrer les modifications">
		<i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
	</button>
	<!-- <button type="submit" class="btn btn-primary" name="save_and_next" alt="Enregistrer et passer à l'étape suivante" title="Enregistrer et passer à l'étape suivante">
		<i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i> <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
	</button> -->
			</form>		
</div>
</div>